div {
    width: 200px;
    height: 200px;
    border: 10px solid red;
    border-radius: 10px;
    display: inline-block;
}

img {
    width: 200px;
    border: 10px groove orangered;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 5px 10px 30px;
}

.dogone{
    border: 10px dashed orangered;

}

.dogtwo{
    border: 10px dot-dash orangered;
}

.dogthree{
    border: 10px double orangered;
}
